.adventures-section {
    margin-bottom: 13rem;

    .section-title {
        margin-bottom: 4.5rem;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1.2fr repeat(2, 1fr);
    grid-template-rows: 210px 210px;
    gap: 32px;
}

.gallery-item {
    background: center / cover;
    display: flex;
    align-items: end;

    &:first-child {
        grid-row: 1 / -1;
    }
}

.gallery-item-content {
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2.4rem 2.4rem 1.6rem 1.6rem;
}

.gallery-item-title {
    font-family: 'Grape Nuts', cursive;
    margin-bottom: 0.6rem;
}

.gallery-item-text {
    font-size: 1.2rem;
}